<header class="header">

    <a href="/" class="heading-secondry" style="font-size: 1.7rem;">
        <h2>Restaurent Management system</h2>

    </a>
    <nav class="meal-nav">

        <div class="meal-nav__item">
            <a href="/" class="meal-nav__link">Home Page</a>
        </div>
        <div class="meal-nav__item">
            <a href="/meals/add-meal" class="meal-nav__link">add Meals</a>
        </div>
        <div class="meal-nav__item">
            <a href="/meals" class="meal-nav__link">Meals List</a>
        </div>
        <div class="meal-nav__item">
            <a href="/orders/add-order" class="meal-nav__link">add Order</a>
        </div>
        <div class="meal-nav__item">

        <a href="/orders" class="meal-nav__link">Orders List</a>
        </div>

    </nav>

</header>