<div>
    <a href="/">
        <h1>Restaurent Management system</h1>
    </a>
    <a href="/meals/add-meal">add Meals</a>
    <a href="/meals">Meals List</a>
    <a href="/orders/add-order">add Order</a>
    <a href="/orders">Orders List</a>
</div>


<header class="header">
   
    <h1>System name</h1>
    <nav class="meal-nav">
        

        <div class="meal-nav__item">
            <a href="/meals/add-meal" class="meal-nav__link">add Meals</a>
        </div>
        <div class="meal-nav__item">
            <a href="/" class="meal-nav__link">Restaurent Management system</a>
        </div>
        <div class="meal-nav__item">
            <a href="/meals" class="meal-nav__link">Meals List</a>
        </div>
        <div class="meal-nav__item">
            <a href="/orders/add-order" class="meal-nav__link">add Order</a>
        </div>
        <a href="/orders/add-order" class="meal-nav__link">add Order</a>
        <a href="/orders" class="meal-nav__link">Orders List</a>
        </div>
    
    </nav>

</header>
