<div>
    <a href="/"><h1>Restaurent Management system</h1></a>
    <a href="/meals/add-meal">add Meals</a>
    <a href="/meals">Meals List</a>
    <a href="">add Order</a>
    <a href="">Orders List</a>
</div>