<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
    
    <section class="section-meal">
        <%- include('./partials/nav.ejs') %>
        <div class="row">
            <div class="meal">
                <div class="meal__form">
                    <form action="/meals" class="form" method="post">
                        <div class=" u-margin-bottom-small">
                            <h2 class="heading-secondry">
                                add new meal
                            </h2>
                        </div>

                        <div class="form__group">
                            <input type="text" id="name" name="name" class="form__input" placeholder="Enter Meal Name" required>
                            <label for="name" class="form__label"> Enter meal name</label>
                        </div>
                        <div class="form__group">
                            <input type="number" id="price" name="price" class="form__input" placeholder="Enter Meal Price" required>
                            <label for="price" class="form__label"> Enter meal price</label>
                        </div>
                        <div class="form__group">
                            <button class="btn btn__green">ADD &rarr;</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>

</html>