<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <datalist id="meals-list">
        <% meals.forEach(meal => { %>
            <option value="<%= meal.name %>"></option>
            
            <% }); %>
        </datalist>
    <h2>Invoice Number:</h2>
    <input type="text" name="customer-name" id="customer-name" placeholder="Customer Name">
    <input type="text" name="meal-name" id="meal-name" placeholder="Enter Meal Name" list="meals-list">
    <button id="btn-clear-name">clear</button>
    <input type="text" name="meal-price" id="meal-price" placeholder="Meal Price" disabled>
    <input type="number" name="meal-qty" id="meal-qty">
    <button id="btn-add-meal">Add To Invoice</button>
    <button id="btn-save-invoice">Save Invoice</button>
    <button id="btn-print">Print</button>
    <button id="btn-new">New Invoice</button>
    <b><p id="invoice-total">Invoice Total</p></b>
    <div id="invoice-body"></div>

    <script>
        const txtCustomerName = document.getElementById('customer-name');
        const txtMealName = document.getElementById("meal-name");
        const txtMealPrice = document.getElementById("meal-price")
        const txtMealQty = document.getElementById("meal-qty");
        const addMealButton = document.getElementById("btn-add-meal");
        const txtInvoiceTotal = document.getElementById("invoice-total");
        const invoiceBody = document.getElementById("invoice-body");
        const btnSaveInvoice = document.getElementById("btn-save-invoice");
        const btnPrint = document.getElementById("btn-print");
        const btnNewInvoice = document.getElementById("btn-new");
        const btnClearMealName = document.getElementById("btn-clear-name");

        txtMealName.addEventListener("change", getMealPrice);
        addMealButton.addEventListener("click", addToInvoice)
        btnSaveInvoice.addEventListener("click", saveInvoice);
        btnPrint.addEventListener("click", printInvoice);
        btnNewInvoice.addEventListener("click", newInvoice);
        btnClearMealName.addEventListener("click", clearMealName);
        // txtMealQty.addEventListener("submit", addToInvoice)

        const url = '/meals/get-single-meal'
        let response;
        let meal_json;
        
        async function getMealPrice() {
            const meal_name = txtMealName.value ;
            const data = {"name": meal_name}
              response = await fetch(url,{
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                body: JSON.stringify(data),
                
            })

            .then(response => response.json())
            .then( (response)=> {
                meal_price = response.price;
                txtMealPrice.value = meal_price;
            } )
            .catch(err => console.log(err))
        }


        let invoiceTotal = 0;
        let counter = 1;
        let invoiceItems = [];
        // execute when click on add button
        function addToInvoice(){
            const name = txtMealName.value;
            const price = txtMealPrice.value;
            const qty = txtMealQty.value;
            const total = price * qty;
            const item = {
                name,
                price,
                qty,
                total
            }

            invoiceItems.push(item);

            if (!name) {
                // console.log('Please Fill all Text Fields')
                alert('Please choose A Meal');
                return;
            }

            if(!qty) {
                alert('Please Enter The Quantity');
                return;
            }

            if(qty < 1 ) {
                alert('Error: The Quantity is less than 1');
                return;
            }

            const card = `<div id="div-${counter}">
                                <p  style="display: inline;">${name}</p>
                                <p  style="display: inline;">${qty}</p>
                                <p  style="display: inline;">${price}$</p>
                                <p  style="display: inline;">${total}</p>
                                <button id="btn-${counter}" onClick="deleteItem('div-${counter}',${total})">Delete</button>
                           </div>     `;

            invoiceBody.innerHTML += card;

            txtMealName.value = '';
            txtMealPrice.value = '';
            txtMealQty.value = '';

            invoiceTotal += total;
            txtInvoiceTotal.innerText= "Invoice Total: " + invoiceTotal ;

            counter += 1;
        }

        function deleteItem(divID, total){
            invoiceTotal -= total; 
            txtInvoiceTotal.innerText= "Invoice Total: " + invoiceTotal ;
            const itemDiv = document.getElementById(divID)

            const mealName = document.querySelector(`#${divID}`).firstElementChild.innerHTML;
            
            itemDiv.remove();
            
            const itemsToRemove = invoiceItems.filter(meal => meal.name === mealName);

            itemsToRemove.forEach(x => invoiceItems.splice(invoiceItems.findIndex(n => n.name === x.name),1));

            console.log(invoiceItems);
            
        }

        async function saveInvoice(){
            const isOk = confirm('Do you want to Save The Invoice ?');
            if(isOk){
                try {
                    const url = '/orders';

                    const data = {
                        customer_name :txtCustomerName.value,
                        order_total: invoiceTotal,
                        isPayed: true,
                        Order_Details: invoiceItems
                    }

                    console.log(data);

                    let response = await fetch(url,{
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        "Content-Type": "application/json",
                        },
                    body: JSON.stringify(data),
                    
                })
                } catch (error) {
                    console.log(err);
                }
                alert('Invoice Saved');
            }
        }

        function printInvoice(){
            alert('invoice printed');
        }

        function newInvoice() {
            alert('new invoice');
        }

        function clearMealName() {
            txtMealName.value = "";
            txtMealPrice.value = "";
        }
    </script>
</body>
</html>