<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <datalist id="meals-list">
        <% meals.forEach(meal => { %>
            <option value="<%= meal.name %>"></option>
            
            <% }); %>
        </datalist>
    <input type="text" name="meal-name" id="meal-name" placeholder="Enter Meal Name" list="meals-list">
    <input type="text" name="meal-price" id="meal-price" placeholder="Meal Price" disabled>
    <input type="number" name="meal-qty" id="meal-qty">
    <button id="btn-add-meal">Add To Invoice</button>
    <b><p id="invoice-total">Invoice Total</p></b>

    <script>
        const txtMealName = document.getElementById("meal-name");
        const txtMealPrice = document.getElementById("meal-price")
        const txtMealQty = document.getElementById("meal-qty");
        const addMealButton = document.getElementById("btn-add-meal");
        const txtInvoiceTotal = document.getElementById("invoice-total");

        txtMealName.addEventListener("change", getMealPrice);
        addMealButton.addEventListener("click", addToInvoice)
        // txtMealQty.addEventListener("submit", addToInvoice)

        const url = '/meals/get-single-meal'
        let response;
        let meal_json;
        
        async function getMealPrice() {
            const meal_name = txtMealName.value ;
            const data = {"name": meal_name}
              response = await fetch(url,{
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                body: JSON.stringify(data),
                
            })

            .then(response => response.json())
            .then( (response)=> {
                meal_price = response.price;
                txtMealPrice.value = meal_price;
            } )
            .catch(err => console.log(err))
        }


        let invoiceTotal = 0;
        // execute when click on add button
        function addToInvoice(){
            const name = txtMealName.value;
            const price = txtMealPrice.value;
            const qty = txtMealQty.value;
            const total = price * qty;

            if (!name) {
                // console.log('Please Fill all Text Fields')
                alert('Please choose A Meal');
                return;
            }

            if(!qty) {
                alert('Please Enter The Quantity');
                return;
            }

            if(qty < 1 ) {
                alert('Error: The Quantity is less than 1');
                return;
            }

            const txtName = document.createTextNode(name);
            const txtPrice = document.createTextNode(price);
            const txtQty = document.createTextNode(qty);
            const txtTotal = document.createTextNode(total);

            const nameElement = document.createElement("p");
            const priceElement = document.createElement("p");
            const qtyElement = document.createElement("p");
            const totalElement = document.createElement("p");
            const brk = document.createElement("br")

            nameElement.appendChild(txtName);
            priceElement.appendChild(txtPrice);
            qtyElement.appendChild(txtQty);
            totalElement.appendChild(txtTotal);
            
            document.body.append(nameElement);
            document.body.append(priceElement);
            document.body.append(qtyElement);
            document.body.append(totalElement);
            document.body.append(brk);

            txtMealName.value = '';
            txtMealPrice.value = '';
            txtMealQty.value = '';

            invoiceTotal += total;
            txtInvoiceTotal.innerText= invoiceTotal ;
        }
    </script>
</body>
</html>