<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <!-- <link rel="stylesheet" href=""> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <link rel="shortxut icon" type="icon/png" href="#">
</head>

<body>
    <!-- <header class="section-header">
        <div class="header-box">
            <div class="header-primary">
                <h1>restaurant management system</h1>
            </div>
            <div class="header-secondry">
                <h2>
                    systems should be like this!
                </h2>
            </div>
        </div> 
    </header> -->





    <section class="section-meal">
        <div class="row">
            <div class="meal">
                <div class="meal__form">
                    <form action="#" class="form">
                        <div class=" u-margin-bottom-small">
                            <h2 class="heading-secondry">
                                add new meal
                            </h2>
                        </div>

                        <div class="form__group">
                            <input type="text" id="name" class="form__input" placeholder="Full name" required>
                            <label for="name" class="form__label"> Enter meal name</label>
                        </div>
                        <div class="form__group">
                            <input type="text" id="name" class="form__input" placeholder="Full name" required>
                            <label for="name" class="form__label"> Enter meal price</label>
                        </div>
                        <div class="form__group">
                            <input type="number" id="name" class="form__input" placeholder="Full name" required>
                            <label for="name" class="form__label"> Enter meal quantity</label>
                        </div>
                        <div class="form__group">
                            <button class="btn btn__green">ADD &rarr;</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>








</body>

</html>