<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <!-- <link rel="stylesheet" href=""> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <link rel="shortxut icon" type="icon/png" href="#">
</head>

<body>
    <header class="section-header">
        <div class="header-box">
            <div class="header-primary">
                <h1>restaurant management system</h1>
            </div>
            <div class="header-secondry">
                <h2>
                    systems should be like this!
                </h2>
            </div>
        </div>
    </header>
</body>

</html>