.meal-list {

    height: 100%;
    display: flex;
    padding: 0 4rem;
    flex-wrap: wrap;


}

.meal-card {
    box-shadow: 0 1rem 4rem rgba(#777, .5);

    width: 20rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    margin: 2rem;


    &__details {

        padding: 0 1.5rem;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }


    &__name {

        font-size: 3rem;
        color: $color-dark-primary;
    }

    &__price {
        font-size: 2.5rem;
    }

    &__contents {

        padding: 1rem 2rem;



    }

    &__action {
        overflow: hidden;
        height: 4rem;
        margin: 0;
        display: flex;
        flex-direction: row;


        a {
            text-decoration: none;
            color: #fff;
            text-align: center;
        }
    }



    .button-update {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-dark-primary;
        width: 100%;
        text-align: center;
        padding: 1rem auto;
    }

    .button-delete {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-secondry-dark;
        width: 100%;
        padding: 1rem auto;
    }

    // span {
    //     align-self: flex-start;
    // }

    // span:hover {
    //     color: $color-dark-primary;
    //     cursor: pointer;

    // }
}