

//color
$color-light-primary: #FA7070;
$color-medium-primary: #A73121;
$color-dark-primary: #952323;

$color-white: #fff;
$color-black: #000;
$color-grey-light-1:#f7f7f7;

$color-secondry-light:#F2E8C6;
$color-secondry-dark:#DAD4B5;


$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;




//grid
$grid-width:114rem;
$grid-gutter:8rem;


//font color
$color-font-main:#777;



